<div class="bottom-wrapper">
    <div class="tm-bottom-f-box  ">
        <div class="uk-container uk-container-center">
            <section id="tm-bottom-f" class="tm-bottom-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1">
                    <div class="uk-panel">
                        <div class="clear"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer id="tm-footer" class="tm-footer">
        <div class="uk-panel">
            <div class="uk-container uk-container-center">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="footer-wrap">
                            <div class="copyrights">Copyright © 2023 <a href="/">Bettics</a>. All Rights Reserved.</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </footer>
    <!-- <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
                <li><a routerLink="/cuenta/partidos-jugar">Partidos por jugar</a></li>
                <li><a routerLink="/cuenta/estadisticas">Estadisticas</a></li>
                <li><a routerLink="/cuenta/recomendacion">Recomendaciones</a></li>
                <li><a routerLink="/cuenta/suscripcion">Membresía</a></li>
                <li><a routerLink="/">Cerrar Sesión</a></li>
            </ul> -->
    <!-- <ul class="uk-nav uk-nav-offcanvas">
                <li class="uk-parent uk-active"><a href="index.html">Home</a>
                    <ul class="uk-nav-sub">

                        <li><a class="red-scheme" href="../red/index.html">Red Color Scheme</a>
                        </li>
                        <li><a href="offline.html">Offline Page</a>
                        </li>
                        <li><a href="404.html">Error Page</a>
                        </li>
                    </ul>
                </li>
                <li><a href="about.html">About</a></li>

                <li class="uk-parent"><a href="#">Pages</a>
                    <ul class="uk-nav-sub">
                        <li><a href="players.html">Players</a>
                        </li>
                        <li><a href="gallery.html">Gallery</a>
                        </li>
                    </ul>
                </li>
                <li class="uk-parent"><a href="match-list.html">Match</a>
                    <ul class="uk-nav-sub">
                        <li><a href="results.html">Results</a>
                        </li>
                    </ul>
                </li>
                <li><a href="news.html">News</a>
                </li>
                <li><a href="category.html">Shop</a>
                </li>
                <li><a href="contact.html">Contact</a>
                </li>
            </ul> -->
    <!-- </div>
    </div> -->
</div>