<div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
    <div class="uk-container uk-container-center">
        <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
            <div class="uk-width-1-1 uk-row-first">
                <div class="uk-panel">
                    <div class="uk-cover-background uk-position-relative head-wrap" style="height: 190px; background-image: url('../../../../assets/images/head-bg.jpg');">
                        <img class="uk-invisible" src="../../../../assets/images/head-bg.jpg" alt="" height="190" width="1920">
                        <div class="uk-position-cover uk-flex uk-flex-center head-title">
                            <h1>
                                PARTIDOS POR JUGAR
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="uk-container uk-container-center alt">
    <ul class="uk-breadcrumb">
        <li><a>Cuenta</a>
        </li>
        <li class="uk-active"><span>PARTIDOS POR JUGAR</span>
        </li>
    </ul>
</div>
<div class="tm-bottom-a-box">
    <div class="uk-container uk-container-center">

        <div *ngIf="!suscriptoCulqi">

            <div class="card mb-3 ">
                <ul class="list-group list-group-flush formulario">
                    <li class="list-group-item list-group-item-custom">
                        <div class="row">
                            <span>
                                <span class="liga">{{mensajeSuscriptoCulqi}}</span>
                            <span class="go-to-membresia">
                                    <a class="go-to-membresia" routerLink="/cuenta/suscripcion">  
                                        Ir a Membresía
                                    </a>
                                </span>
                            </span>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div *ngIf="suscriptoCulqi">

            <div class="d-flex justify-content-center row">
                <div class="pb-2 bd-highlight col-lg-3 col-sm-6">
                    <label class="form-label">Liga</label>
                    <select class="form-select" (change)="onChange()" [(ngModel)]="strLeagueSelected">
                            <option *ngFor="let op of strLeague" [value]="op.id">
                                {{op.descripcion}}
                              </option> 
                    </select>
                </div>
            </div>

            <div>

                <div *ngIf="mediaBreakpoint$.value == 'xs'">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover  accordion table-custom">
                            <thead class="thead-custom">
                                <tr class="header-custom thead-custom">
                                    <th colspan="1" class="left-cell "> </th>
                                    <th colspan="3" class="rigth-cell"> </th>
                                </tr>
                               
                                <tr class="header-custom">

                                    <th scope="col" class="columna-fija">Fecha</th>
                                    <!-- <th scope="col" class="columna-fija">Hora</th> -->
                                    <th scope="col" class="columna-fija">Equipo Local</th>
                                    <th scope="col" class="columna-fija">Equipo Visitante</th>
                                    <td class="columna-fija celdaAsignado">
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                                <ng-container *ngFor="let item of tableroPosiciones; let i=index;">
                                    <tr data-bs-toggle="collapse" [attr.data-bs-target]="'#r'+ i" class="accordion-toggle content-table">

                                        <td class="columna-fija celdaAsignado">{{item.fecha}}</td>
                                        <td class="columna-fija celdaAsignado">
                                            <img src="{{item.home_image}}" width="25" height="25">
                                            {{item.equipoLocal}}
                                        </td>
                                        <td class="columna-fija celdaAsignado">
                                            <img src="{{item.away_image}}" width="25" height="25">

                                            {{item.equipoVisitante}}
                                        </td>
                                        <td class="columna-fija celdaAsignadoEstadisticas">
                                            <strong>
                                                <a class="linkEstadisticas" [routerLink]="['/cuenta/estadisticas']" [queryParams]="{liga:item.liga ,idHomeTeam:item.idHomeTeam, equipoLocal: item.equipoLocal, idAwayTeam: item.idAwayTeam, equipoVisitante: item.equipoVisitante }"> <i class="bi bi-clipboard-data"></i></a>
                                            </strong>
                                        </td>
                                        
                                    </tr>
                                    <tr class="collapse accordion-collapse" [attr.id]="'r'+ i" data-bs-parent=".table">
                                        <td colspan="6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead class="thead-custom">
                                                            <tr class="header-custom thead-custom">
                                                                <th colspan="1" class="left-cell"> </th>
                                                                <th colspan="2" class="rigth-cell text-center">Tabla de Posiciones</th>
                                                            </tr>
                                                            <tr class="header-custom thead-custom">
                                                                <th scope="col" class="columna-fija ">Liga</th>
                                                                <th scope="col">Pos. Local</th>
                                                                <th scope="col">Pos. Visita</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="accordion-toggle content-table">
                                                                <td class="columna-fija celdaAsignado">{{item.liga}}</td>
                                                                <td class="columna-fija celdaAsignado">{{item.posicionLocal}}</td>
                                                                <td class="columna-fija celdaAsignado">{{item.posicionVisita}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead class="thead-custom">
                                                            <tr class="header-custom thead-custom">
                                                                <th colspan="2" class="left-cell text-center">Tiros de esquina Equipo Local (promedio)</th>
                                                                <th colspan="2" class="rigth-cell text-center">Tiros de esquina Equipo Visitante (promedio)</th>
                                                            </tr>
                                                            <tr class="header-custom thead-custom">
                                                                <th scope="col">Hechos</th>
                                                                <th scope="col">Recibido</th>
                                                                <th scope="col">Recibido</th>
                                                                <th scope="col">Hechos</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="accordion-toggle content-table">
                                                                <!-- <td>{{item.cornersHechosLocal}}</td>
                                                                <td>{{item.cornersRecibidosLocal}}</td>
                                                                <td>{{item.cornersHechosVisita}}</td>
                                                                <td>{{item.cornersRecibidosVisita}}</td> -->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead class="thead-custom">
                                                            <tr class="header-custom thead-custom">
                                                                <th rowspan="2" class="left-rigth-cell text-center">Total de tiros de esquina hechos del Local más Visitante (promedio)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="accordion-toggle content-table">
                                                                <td>{{item.cornersHechoTotalesLocalVisita}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead class="thead-custom">
                                                            <tr class="header-custom thead-custom">
                                                                <th colspan="2" class="left-cell text-center">Goles Equipo Local (promedio)</th>
                                                                <th colspan="2" class="rigth-cell text-center">Goles Equipo Visitante (promedio)</th>
                                                            </tr>
                                                            <tr class="header-custom thead-custom">
                                                                <th scope="col">Hechos</th>
                                                                <th scope="col">Recibidos</th>
                                                                <th scope="col">Recibidos</th>
                                                                <th scope="col">Hechos</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="accordion-toggle content-table">
                                                                <!-- <td>{{item.golesHechosLocal}} </td>
                                                                <td>{{item.golesRecibidosLocal}}</td>
                                                                <td>{{item.golesRecibidosVisita }}</td>
                                                                <td>{{item.golesHechosVisita}}</td> -->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>

                </div>

                <div *ngIf="mediaBreakpoint$.value != 'xs'">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-custom">
                            <thead class="thead-custom">
                                <tr class="header-custom thead-custom">
                                    <th colspan="7" class="left-cell rigth-cell"> </th>
                                </tr>
                                <tr class="header-custom thead-custom">
                                    <th colspan="4 " class=""> </th>
                                    <!-- <th colspan="2" class="text-center">Posición de tabla</th> -->
                                    <th colspan="1 " class=""> </th>

                                </tr>
                                <tr class="header-custom thead-custom">
                                    <th scope="col" class="columna-fija">Fecha</th>
                                    <th scope="col" class="columna-fija">Liga</th>
                                    <th scope="col" class="columna-fija">Equipo Local</th>
                                    <th scope="col" class="columna-fija">Equipo Visitante</th>

                                    <!-- <th scope="col">Local</th>
                                    <th scope="col">Visita</th> -->
                                    <th scope="col" class="columna-fija"> </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="accordion-toggle content-table" *ngFor="let item of tableroPosiciones">

                                    <td class="columna-fija celdaAsignadofecha">{{item.fecha}}</td>
                                    <td class="columna-fija celdaAsignado"><img src="{{item.pais_imagen}}" width="25" height="25">{{item.liga}}</td>
                                    <td class="columna-fija celdaAsignado">
                                        <img src="{{item.home_image}}" width="25" height="25">
                                        
                                        {{item.equipoLocal}}</td>
                                    <td class="columna-fija celdaAsignado">
                                        <img src="{{item.away_image}}" width="25" height="25">
                                        
                                        {{item.equipoVisitante}}</td>
<!--                                     
                                    <td [ngClass]="{ 'colorPosicionLocalPrimeros': item.colorPosicionLocal==='colorPosicionLocalPrimeros' , 'colorPosicionLocalSegundos' : item.colorPosicionLocal==='colorPosicionLocalSegundos'  , 'colorPosicionLocalTerceros' : item.colorPosicionLocal==='colorPosicionLocalTerceros' , 'colorPosicionLocalCuartos' : item.colorPosicionLocal==='colorPosicionLocalCuartos'} ">{{item.posicionLocal}}</td>
                                    <td [ngClass]="{ 'colorPosicionLocalPrimeros': item.colorPosicionVisita==='colorPosicionLocalPrimeros' , 'colorPosicionLocalSegundos' : item.colorPosicionVisita==='colorPosicionLocalSegundos'  , 'colorPosicionLocalTerceros' : item.colorPosicionVisita==='colorPosicionLocalTerceros' , 'colorPosicionLocalCuartos' : item.colorPosicionVisita==='colorPosicionLocalCuartos'} ">{{item.posicionVisita}}</td> -->

                                    <td class="columna-fija celdaAsignadoEstadisticas">
                                        <strong>
                                        <a class="linkEstadisticas" [routerLink]="['/cuenta/estadisticas']" [queryParams]="{liga:item.liga ,idHomeTeam:item.idHomeTeam, equipoLocal: item.equipoLocal, idAwayTeam: item.idAwayTeam, equipoVisitante: item.equipoVisitante }"> <i class="bi bi-clipboard-data"></i></a>
                                       </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>