.uk-push-1-4 {
    left: 0% !important;
}

.uk-width-medium-3-4 {
    width: 100%;
}

.match-list-item {
    border-left: 4px solid #fdbd00 !important;
    border-bottom: 4px solid #fdbd00 !important;
}

.match-list-wrap .match-list-item .opcionApuesta {
    margin: 0;
}

.match-list-wrap .match-list-item .opcionApuesta br {
    display: none;
}

.membership {
    color: white;
}

.match-list-wrap {
    background: transparent;
}

.card-header-title {
    background: #0f1f39;
    color: white;
}

.list-group-item-custom {
    padding: 0px !important;
}

.formulario {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.item-top {
    background: #f8f8f8;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.item-bottom {
    color: white;
}

.border-lateral {
    border-left: 10px solid #87cc7c !important;
}

.border-inferior {
    border-top: 1px solid #87cc7c !important;
}

.liga {
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
}

.fecha {
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
}

.opcionApuesta {
    font-style: normal;
    font-size: 15px;
    font-weight: 700;
}

.mercadoApuesta {
    font-size: 15px;
    font-style: initial;
    font-weight: 500;
}

.cuotaSimple {
    font-size: 15px;
    font-style: initial;
    font-weight: 700;
}

.equipos {
    font-size: 15px;
    font-style: initial;
    font-weight: 400;
}

.cuotaCombinada {
    font-size: 18px;
    font-style: initial;
    font-weight: 700;
}

.uk-container {
    box-sizing: border-box;
    padding: 0 8px !important;
}

.uk-breadcrumb {
    margin-bottom: 12px !important;
}

.go-to-membresia {
    color: #87cc7c;
    font-weight: 600;
    font-size: 16px;
}

.celdaAsignado {
    word-break: break-all !important;
    white-space: nowrap !important;
    width: 300px !important;
}

.celdaAsignadoEstadisticas {
    word-break: break-all !important;
    white-space: nowrap !important;
    width: 60px !important;
    text-align: center;
}
.celdaAsignadofecha {
    word-break: break-all !important;
    white-space: nowrap !important;
    width: 100px !important;
    text-align: center;
}
.thead-custom {
    border-style: hidden;
}

.header-custom {
    background-color: #4c4c4c;
    color: white;
}

.left-cell {
    border-radius: 10px 0px 0px 0px;
}

.rigth-cell {
    border-radius: 0px 10px 0px 0px;
}

.hiddenRow {
    padding: 0 !important;
}

body {
    padding-top: 50px;
    background-color: #34495e;
}

.hiddenRow {
    padding: 0 !important;
}

.table-custom {
    font-size: 10px !important;
}

.subtitle-details {
    font-size: 11px;
    font-weight: 600;
}

.left-rigth-cell {
    border-radius: 10px 10px 0px 0px;
}

.content-table {
    font-size: 14px;
}

.colorPosicionLocalPrimeros {
    background-color: #5a8ac6;
    color: white !important;
    -webkit-text-fill-color: #f9f9f9;
    -webkit-text-stroke-color: #fafafa;
    -webkit-text-stroke-width: 1px;
}

.colorPosicionLocalPrimeros {
    background-color: #5a8ac6;
    color: white !important;
    -webkit-text-fill-color: #f9f9f9;
    -webkit-text-stroke-color: #fafafa;
    -webkit-text-stroke-width: 1px;
}

.colorPosicionLocalSegundos {
    background-color: #90b0d9;
    color: white !important;
    -webkit-text-fill-color: #f9f9f9;
    -webkit-text-stroke-color: #fafafa;
    -webkit-text-stroke-width: 1px;
}

.colorPosicionLocalTerceros {
    background-color: #fa9b9d;
    color: white !important;
    -webkit-text-fill-color: #f9f9f9;
    -webkit-text-stroke-color: #fafafa;
    -webkit-text-stroke-width: 1px;
}

.colorPosicionLocalCuartos {
    background-color: #f8696b;
    color: white !important;
    -webkit-text-fill-color: #f9f9f9;
    -webkit-text-stroke-color: #fafafa;
    -webkit-text-stroke-width: 1px;
}

.linkEstadisticas {
    color: blue
}

@media only screen and (min-width: 768px) {
    .content-table {
        font-size: 14px;
    }
}

.n-borde-r {
    border-radius: 0px 0px 0px 0px !important;
}

.labelRojo {
    background-color: #FF9999;
    color: #800020 !important;
    -webkit-text-fill-color: #800020;
    -webkit-text-stroke-color: #800020;
    -webkit-text-stroke-width: 1px;
    vertical-align: middle;
    text-align: center;
}

.labelAmarilloSuave {
    background-color: #FADFAD;
    color: #654321 !important;
    -webkit-text-fill-color: #654321;
    -webkit-text-stroke-color: #654321;
    -webkit-text-stroke-width: 1px;
    vertical-align: middle;
    text-align: center;
}

.labelAmarilloIntenso {
    background-color: #FADFAD;
    color: #654321 !important;
    -webkit-text-fill-color: #654321;
    -webkit-text-stroke-color: #654321;
    -webkit-text-stroke-width: 1px;
    vertical-align: middle;
    text-align: center;
}

.labelVerdeSuave {
    background-color: #B4D7B4;
    color: #228B22 !important;
    -webkit-text-fill-color: #228B22;
    -webkit-text-stroke-color: #228B22;
    -webkit-text-stroke-width: 1px;
    vertical-align: middle;
    text-align: center;
}

.labelVerdeIntenso {
    background-color: #B4D7B4;
    color: #228B22 !important;
    -webkit-text-fill-color: #228B22;
    -webkit-text-stroke-color: #228B22;
    -webkit-text-stroke-width: 1px;
    vertical-align: middle;
    text-align: center;
}

.labelAzulResultado {
    background-color: #ffffff;
    color: #0070c0 !important;
    -webkit-text-fill-color: #0070c0;
    -webkit-text-stroke-color: #0070c0;
    -webkit-text-stroke-width: 1px;
    font-size: 18px !important;
    vertical-align: middle;
    text-align: center;
}
.labelRojoResultado {
    background-color: #ffffff;
    color: red !important;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 1px;
    font-size: 18px !important;
    vertical-align: middle;
    text-align: center;

}

.labelResultado {
    vertical-align: middle;
    text-align: center;
}