<div class="toolbar-wrap">
    <div class="uk-container uk-container-center">
        <div class="tm-toolbar uk-clearfix uk-hidden-small">
            <div class="uk-float-right">
                <div class="uk-panel">
                    <div class="social-top">
                        <a href="https://www.facebook.com/profile.php?id=100092695835838"><span class="uk-icon-small uk-icon-hover uk-icon-facebook"></span></a>
                        <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-twitter"></span></a>
                        <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-youtube"></span></a>
                        <a href="https://instagram.com/bettics.pe?igshid=ZGUzMzM3NWJiOQ=="><span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tm-menu-box">
    <div style="height: 70px;" class="uk-sticky-placeholder">
        <nav style="margin: 0px;" class="tm-navbar uk-navbar" data-uk-sticky="">
            <div class="uk-container uk-container-center">
                <a class="tm-logo uk-float-left" href="index.html">
                    <img src="../../../../assets/images/logo/logoBettics5.png" width="50" height="60" alt="logo" title="logo">
                </a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li><a routerLink='/'>Inicio</a></li>
                    <li><a routerLink="/home/nosotros">Nosotros</a></li>
                    <li><a routerLink="/home/contacto">Contacto</a></li>
                    <li><a routerLink="/auth/login">Login</a></li>
                </ul>
                <!-- <a class="uk-navbar-toggle uk-visible-small uk-navbar-toggle uk-visible-smallnavbar-toggler d-md-none collapsed" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" data-uk-offcanvas=""></a> -->
                <button class=" btn-menu uk-navbar-toggle uk-visible-small uk-navbar-toggle uk-visible-smallnavbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                  </button>

            </div>
            <div class="container-fluid collapse" id="sidebarMenu">
                <div class="row">
                    <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar ">
                        <div class="position-sticky pt-3 sidebar-sticky">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active item-menu-sm" aria-current="page" routerLink='/'>
                                        <span data-feather="home" class="align-text-bottom"></span> Inicio
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active item-menu-sm" aria-current="page" routerLink="/home/nosotros">
                                        <span data-feather="home" class="align-text-bottom"></span> Nosotros
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active item-menu-sm" aria-current="page" routerLink="/home/contacto">
                                        <span data-feather="home" class="align-text-bottom"></span> Contacto
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active item-menu-sm" aria-current="page" routerLink="/auth/login">
                                        <span data-feather="home" class="align-text-bottom"></span> Login
                                    </a>
                                </li>
                            </ul>


                        </div>
                    </nav>
                </div>
            </div>
        </nav>
    </div>
</div>